html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background: var(--verde-transparente);
  padding-bottom: 1px;
  background-image: url("../images/smoke-sun-GIF-by-Living-Stills.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
}

header img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

h1 {
  font-size: 35px;
  text-align: right;
  font-family: "Permanent Marker", cursive;
  color: var(--branco);
  text-shadow: 2px 2px 4px var(--preto-transparente);
}

.menu-container {
  position: fixed;
  top: 12px;
  right: 10px;
  z-index: 1000;
}

.menu-toggle {
  border: none;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--preto-transparente);
  font-size: 20px;
  color: var(--verde-escuro);
  background-color: var(--verde-claro);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-menu {
  display: none;
  flex-direction: column;
  background: var(--verde-medio);
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 10px;
  padding: 30px;
  z-index: 1001;
  box-shadow: 0 2px 10px var(--preto-transparente-forte);
  font-size: 20px;
  gap: 10px;
}

.nav-menu a {
  color: var(--verde-escuro);
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity: 1;
}

.nav-menu a:hover,
.nav-menu a:focus {
  background: var(--branco);
  color: var(--verde-escuro);
  transform: scale(1.03);
}

/* ======== CONTAINER PRINCIPAL ======== */
.pagina-container {
  max-width: 1100px;
  margin: 50px auto;
  padding: 30px;
  background-color: var(--branco);
  border: 1px solid var(--branco-transparente-forte);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 12px var(--preto-transparente-forte);
  box-sizing: border-box;
  text-align: center;
}

/* ======== TÍTULOS ======== */
.pagina-container h1 {
  font-size: 50px;
  color: var(--verde-profundo);
  margin-bottom: 20px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

/* ======== PARÁGRAFOS ======== */
.pagina-container p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: var(--verde-profundo);
}

/* ======== BOTÃO VOLTAR ======== */
.btn-voltar {
  color: var(--verde-escuro);
  background: var(--verde-claro);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 80px;
}

.btn-voltar:hover,
.btn-voltar:focus {
  background: var(--verde-forte);
  color: var(--branco);
  transition: 0.3s;
}

footer {
  margin-top: 100px;
  text-align: center;
  font-size: 12px;
  color: var(--branco);
  padding-bottom: 20px;
}

footer .social-icons a {
  color: var(--branco);
  font-size: 22px;
  padding: 10px;
  transition: color 0.3s ease;
}

footer .social-icons a:hover,
footer .social-icons a:focus {
  color: var(--branco);
  transform: scale(1.2);
  transition: color 0.3s ease, transform 0.2s ease;
}

:focus {
  outline: 1px solid var(--verde-escuro);
  outline-offset: 1px;
}

.footer-links {
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links span {
  color: #ccc;
}

/* RESPONSIVO */

@media (min-width: 2000px) {
  .menu-toggle,
  .nav-menu {
    position: relative;
    right: 60%;
    top: 0;
    width: 300px;
  }

  .pagina-container h1 {
    font-size: 60px;
  }

  .nav-menu {
    padding: 20px;
    width: 300px;
  }

  .pagina-container {
    max-width: 60%;
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 30px;
  }

  .btn-voltar {
    margin: 50px 0;
    font-size: 25px;
  }

  .pagina-container h1 {
    font-size: 45px;
  }
}

@media (max-width: 800px) {
  body {
    background-image: url("../images/rio-pequeno-na-floresta.png");
    background-position: center center;
  }

  .pagina-container h1 {
    font-size: 35px;
    text-align: center;
    padding: 0;
  }

  .pagina-container {
    min-width: 50%;
  }

  .menu-toggle {
    opacity: 0.6;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.2s ease;
    transform: scale(1.05);
  }

  .btn-voltar {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 600px) {
  header img {
    width: 100%;
  }

  .pagina-container p {
    font-size: 16px;
  }

  .nav-menu {
    width: 80vw;
    right: 5%;
  }

  #mensagem-obrigado {
    font-size: 24px;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .pagina-container h1 {
    font-size: 24px;
  }

  .pagina-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .btn-voltar {
    font-size: 18px;
    padding: 8px 16px;
  }
}
