html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
}

/* HEADER */
header {
  padding: 0 30px 50px;
  text-align: center;
  background-image: url("../images/smoke-sun-GIF-by-Living-Stills.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 35px;
  text-align: right;
  font-family: "Permanent Marker", cursive;
  color: var(--branco);
  text-shadow: 2px 2px 4px var(--preto-transparente);
}

header img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.whatsapp-container-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.btn-whatsapp-header {
  background: var(--verde-whatsapp);
  color: var(--branco);
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 4px 12px var(--preto-transparente);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* MENU FLUTUANTE */
.menu-container {
  position: fixed;
  top: 12px;
  right: 10px;
  z-index: 1000;
}

.menu-toggle {
  border: none;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 6px var(--preto-transparente);
  font-size: 20px;
  color: var(--verde-escuro);
  background-color: var(--verde-claro);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-menu {
  display: none;
  flex-direction: column;
  background: var(--verde-medio);
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: 10px;
  padding: 30px;
  z-index: 1001;
  box-shadow: 0 2px 10px var(--preto-transparente-forte);
  font-size: 20px;
  gap: 10px;
}

.nav-menu a {
  color: var(--verde-escuro);
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity: 1;
}

.nav-menu a:hover,
.nav-menu a:focus {
  background: var(--branco);
  color: var(--verde-escuro);
  transform: scale(1.03);
}

/* GERAL */
.tudo-exceto-header-servicos-footer {
  background: var(--verde-transparente);
  padding-bottom: 1px;
}

.secao-principal,
.formulario {
  padding: 0 50px;
}

/* HOME */
.secao-principal {
  display: flex;
  align-items: center;
  scroll-margin-top: 40px;
}

.secao-principal h1 {
  font-size: 44px;
  font-weight: bold;
  color: var(--branco);
  max-width: 550px;
  padding-top: 95px;
}

.secao-principal li {
  padding: 7px 0;
  font-size: 18px;
  color: var(--branco);
  display: flex;
  align-items: center;
}

.botao-secao-principal {
  color: var(--verde-escuro);
  background: var(--verde-claro);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  margin: 80px;
}

.botao-secao-principal:hover,
.botao-secao-principal:focus {
  background: var(--verde-forte);
  color: var(--branco);
  transition: 0.3s;
}

.fundo-balao-secao-principal {
  background-image: url("../images/folhas.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px 50px;
  margin: 60px auto;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.fundo-balao-secao-principal::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--preto-transparente);
  backdrop-filter: blur(3.5px);
  z-index: -1;
}

.icone-personalizado-home {
  width: 33px;
  height: 30px;
  margin-right: 8px;
  filter: invert(100%);
}

.bloco-secao-principal {
  background-color: var(--branco-transparente);
  backdrop-filter: blur(4px);
  border: 1px solid var(--branco-transparente-forte);
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--preto-transparente-forte);
  padding: 20px;
}

/* SOBRE */
.sobre h1 {
  font-size: 42px;
  font-weight: bold;
  color: var(--verde-escuro);
  padding: 0 40px 0 10px;
}

.fundo-balao-secao-sobre {
  background: var(--verde-transparente-medio);
  border-radius: 5px 50px;
  margin: 60px auto;
  padding: 30px;
  max-width: 1200px;
  color: var(--branco);
  overflow: hidden;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background: var(--verde-claro);
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0 4px 12px var(--preto-transparente);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  width: 49%;
  min-width: 280px;
  color: var(--verde-escuro);
  text-align: center;
  font-size: 18px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  margin-top: 10px;
}

.icone-personalizado {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.sobre li {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* SERVICOS */
.background-servicos {
  background: linear-gradient(to bottom, rgba(213, 239, 175, 1), rgba(255, 255, 255, 0));
  background-blend-mode: overlay;
}
.servicos h1 {
  font-size: 42px;
  font-weight: 700;
  color: var(--branco);
}

.servicos {
  position: relative;
  z-index: 0;
}

.fundo-balao-secao-servicos {
  background-image: url("../images/folhas-galhos.png");
  background-color: var(--preto-transparente-leve);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -153px;
  border-radius: 5px 50px;
  margin: 0 auto 60px;
  padding: 30px 30px;
  max-width: 1200px;
  overflow: hidden;
  z-index: 1;
}

.grid-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.bloco-servico {
  background-color: var(--branco-transparente-iluminado);
  border: 1px solid var(--branco-transparente-forte);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--preto-transparente-forte);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco-servico:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px var(--preto-transparente);
}

.bloco-servico .icone {
  font-size: 30px;
  color: var(--verde-medio-claro);
  flex-shrink: 0;
}

.bloco-servico h3 {
  padding: 5px;
  font-weight: bold;
  font-size: 21px;
  color: var(--verde-profundo);
  text-align: center;
}

.bloco-servico p {
  color: var(--branco);
  font-size: 19px;
  text-align: center;
}

.bloco-central {
  grid-column: span 3;
  justify-self: center;
  max-width: 600px;
}

/* FORMULARIO */
.imagem-final-pagina {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%), url("../images/grama-sol.png");
  background-color: var(--verde-transparente-leve);
  background-blend-mode: overlay;
  background-position: 0px -250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.formulario {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.formulario h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 51px;
  font-weight: 400;
  text-align: left;
  color: var(--verde-escuro);
  line-height: 1.2;
}

.formulario-textos li {
  font-weight: 600;
  font-size: 19px;
  color: var(--verde-profundo);
  text-align: left;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.formulario-textos ul {
  background-color: var(--branco-transparente);
  border: 1px solid var(--branco-transparente-forte);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--preto-transparente-forte);
  padding: 30px;
  margin: 20px auto;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--branco-transparente);
  border: 1px solid var(--branco-transparente-forte);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--preto-transparente-forte);
}

.input,
textarea.input {
  font-family: "Inter", "Segoe UI", sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--verde-escuro);
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

label {
  display: block;
  margin: 5px 0;
  color: var(--verde-escuro);
  font-weight: 600;
}

#submit_button {
  background: var(--verde-medio-claro);
  color: var(--verde-escuro);
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  padding-top: 5px;
}

#submit_button:hover,
#submit_button:focus {
  background: var(--branco);
  color: var(--verde-escuro);
  font-weight: bold;
}

.required::after {
  content: " *";
  color: var(--verde-escuro);
}

.btn-whatsapp {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--verde-whatsapp);
  color: var(--branco);
  font-weight: bold;
  padding: 9px 24px;
  margin: 7px;
  border-radius: 30px;
  font-size: 16px;
  box-shadow: 0 4px 12px var(--preto-transparente);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-whatsapp:hover,
.btn-whatsapp:focus,
.btn-whatsapp-header:hover,
.btn-whatsapp-header:focus {
  background: var(--verde-whatsapp);
  transform: scale(1.02);
}

.btn-whatsapp i {
  font-size: 20px;
}

#mensagem-obrigado{
  display: none;
  color: var(--verde-escuro);
  background-color: var(--branco-transparente);
  border: 1px solid var(--branco-transparente-forte);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--preto-transparente-forte);
  font-size: 30px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

/* FOOTER */
footer {
  margin-top: 100px;
  text-align: center;
  font-size: 12px;
  color: var(--branco);
  padding-bottom: 20px;
}

footer .social-icons a {
  color: var(--branco);
  font-size: 22px;
  padding: 10px;
  transition: color 0.3s ease;
}

footer .social-icons a:hover,
footer .social-icons a:focus {
  color: var(--branco);
  transform: scale(1.2);
  transition: color 0.3s ease, transform 0.2s ease;
}

:focus {
  outline: 1px solid var(--verde-escuro);
  outline-offset: 1px;
}

.footer-links {
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links span {
  color: #ccc;
}
